.theme-dark, :root {
    --background-primary: #181818 !important;
    --background-secondary: #1d1d1d !important;
    --background-secondary-alt: #1a1a1a !important;
    --background-tertiary: #181818 !important;
    --channeltextarea-background: #292929 !important;
    --deprecated-quickswitcher-input-background: #292929 !important;
}