.theme-dark, :root {
    --background-primary: #181818 !important;
    --background-secondary: #1d1d1d !important;
    --background-secondary-alt: #1a1a1a !important;
    --background-tertiary: #181818 !important;
    --background-tertiary-alt: #292929 !important;
    --channeltextarea-background: #292929 !important;
    --deprecated-quickswitcher-input-background: #292929 !important;
    --background-floating: #1d1d1d !important;
    --text-link: #ff6739;
}

// Home button / icon-less server colour. 
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: #ff6739;
}

.wrapper-3kah-n.selected-1Drb7Z .homeIcon-r0w4ny, .wrapper-3kah-n:hover .homeIcon-r0w4ny {
    color: #000;
}

// Join server button colour.
.circleIconButton-1VxDrg {
    color: #ff6739;
    background: var(--background-secondary);
}

.circleIconButton-1VxDrg:hover {
    color: #000;
    background: #ff6739;
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    color: #000;
    background: #ff6739;
}

// Search bar
.theme-dark .focused-2FU0YH {
    background-color: var(--background-primary);
}

.resultsGroup-1BPR25 {
    background-color: var(--background-secondary);
}

.theme-dark .option-2KkUJO:after {
    background: #1a1a1a;
}

// Calendar picker that i will never use
.theme-dark .calendarPicker-sDhzdi .react-datepicker {
    background-color: var(--background-primary);
}

.react-datepicker__header, .react-datepicker__current-month {
    background-color: var(--background-secondary);
}

// Selected day on calendar
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after, .calendarPicker-sDhzdi
.react-datepicker__day.react-datepicker__day--keyboard-selected, .calendarPicker-sDhzdi
.react-datepicker__day.react-datepicker__day--selected:hover, .calendarPicker-sDhzdi .react-datepicker__day:hover,
.theme-dark .datePicker-70cO23 .datePickerHint-17MnA8:hover .hintValue-1x-flY {
    background-color: #ff6739;
}

// Reactions
.reaction-2A2y9y.reactionMe-3I9gFK {
    background-color: #ff67394f !important;
    border-color: transparent;
}

.reaction-2A2y9y.reactionMe-3I9gFK .reactionCount-1zkLcN {
    color: #ff6739;
}

.reaction-2A2y9y.reactionMe-3I9gFK:hover .reactionCount-1zkLcN {
    color: #ff3131;
    transition: 0.2s;
}

// Emoji autocomplete
.theme-dark .autocomplete-3NRXG8 {
    background-color: var(--background-secondary);
}

.theme-dark .selected-3H3-RC {
    background-color: var(--background-tertiary-alt);
}

// Invite button on channels
.actionIcon-2sw4Sl {
    color: var(--channels-default);
}

.actionIcon-2sw4Sl:hover {
    transition: 0.2s;
}

// CTRL-F searchbar
.searchBar-zdmu7v {
    background-color: var(--background-tertiary-alt);
    width: 184px;
}

// Bot tag
.botTagRegular-kpctgU {
    transition: 0.2s;
    background: #ff262644;
    color: #ffffff;
}

.botTagRegular-kpctgU:hover {
    transition: 0.2s;
    background: #ff2626ab;
    color: #ffffff;
}

// Streamer mode colour
.colorStreamerMode-8uoRWd {
    background-color: var(--background-tertiary-alt);
}

// Selection for the lolz
::selection {
    background-color: #ff6739;
    opacity: 30%;
    color: #000;
}

// Transparent Settings Screen
.layers-OrUESM>.layer-86YKbF:first-child, .layers-1YQhyW>.layer-86YKbF:first-child{
    transform: scale(1) !important;
    opacity: 1 !important;
}
.layers-OrUESM>.layer-86YKbF:nth-child(2),.perksModal-fSYqOq{
    background-color: #10101080!important;
    backdrop-filter: blur(20px);
}
.contentRegionScroller-2_GT_N,.contentRegion-3HkfJJ,.standardSidebarView-E9Pc3j,
.sidebarRegionScroller-FXiQOh{
    background: transparent;
}

// Modals for things like links
.modalContent-3YXA7I {
    background-color: var(--background-primary);
}
.theme-dark .footer-31IekZ {
    background-color: var(--background-floating);
}