[title^="https://discord.com/channels/"], [title^="https://ptb.discord.com/channels/"],
[title^="https://canary.discord.com/channels/"] {
    line-height: 0;
    font-size: 0;
    text-decoration-color: #fff !important;
}

[title^="https://discord.com/channels/"]::before, [title^="https://ptb.discord.com/channels/"]::before,
[title^="https://canary.discord.com/channels/"]::before {
    content: "✉ Jump to Message";
    font-size: 16px;
    user-select: text;
    font-weight: 500;
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    background: var(--brand-experiment-10a);
    color: var(--brand-experiment-460);
}

[title^="https://discord.com/channels/"]:hover::before, [title^="https://ptb.discord.com/channels/"]:hover::before,
[title^="https://canary.discord.com/channels/"]:hover::before {
    background-color:var(--brand-experiment) ;
    color: var(--brand-experiment-100);
}