// Blurs serverlist. Original snippet by legume#0173
[aria-label=Servers] .listItem-3SmSlK:not(.selected) svg {
    --props: 0.25s linear;
    filter: blur(5px);
    margin-bottom: 15px;
    //clip-path: circle(50% at center);
    transition: 0.2s;
}
[aria-label=Servers] .listItem-3SmSlK:hover svg {
    filter: none;
    //clip-path: none;
}

// Transaction history
.paymentPane-ut5qKZ .verticalFit-21XL0v {
    filter: blur(5px);
    transition: 0.2s;
}

.paymentPane-ut5qKZ:hover .verticalFit-21XL0v {
    filter: none;
    transition: 0.2s;
} // TODO: add shit here

// DMs
li.channel-1Shao0 > div > a[aria-label$="(direct message)"]:not(.selected-1-Z6gm) {
    filter: blur(5px);
    transition: 0.2s;
}
li.channel-1Shao0 > div > a[aria-label$="(direct message)"]:hover {
    filter: none;
    transition: 0.2s;
}
li.channel-1Shao0 > div > a[aria-label$="(direct message)"].selected-1-Z6gm {
    filter: none;
    transition: 0.2s;
}

// Group chats
li.channel-1Shao0 > div > a[aria-label$="(group message)"]:not(.selected-1-Z6gm) {
    filter: blur(5px);
    transition: 0.2s;
}
li.channel-1Shao0 > div > a[aria-label$="(group message)"]:hover {
    filter: none;
    transition: 0.2s;
}
li.channel-1Shao0 > div > a[aria-label$="(group message)"].selected-1-Z6gm {
    filter: none;
    transition: 0.2s;
}