// DMs / group chats
.layout-1qmrhw {
    border-radius: 20px;
}

// Server channel
.content-1gYQeQ {
    border-radius: 20px;
}

// Selected server pill
.item-2LIpTv {
    background-color: #ff6739;
}